*, *::before, *::after{
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.world {
    overflow: hidden;
    position: relative;
}

.score {
    position: absolute;
    font-size: 3vmin;
    right: 1vmin;
    top: 1vmin;
}

.start-button{
    position: absolute;
    font-size: 5vmin;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.table {
    width: 85vmin;
}

.hide {
    display: none;
}

.show {
    display: visible;
}
.dealerCard {
    position: absolute;
    width: 8vmin;
    top:35%;
    left: calc(var(--left) * 1%);
    animation: dealerCard1 1s;
    transform: translate(-50%,-50%);
    
}
.playerCard {
    position: absolute;
    width: 8vmin;
    top:65%;
    left: calc(var(--left) * 1%);
    animation: playerCard1 1s;
    transform: translate(-50%,-50%);
}
.hitButton {
    position: absolute;
    width: 20vmin;
    top:85%;
    left: 65%;
    transform: translate(-50%,-50%);
}
.stayButton {
    position: absolute;
    width: 20vmin;
    top:85%;
    left: 35%;
    transform: translate(-50%,-50%);
}
.quitButton {
    position: absolute;
    width: 20vmin;
    top:85%;
    left: 65%;
    transform: translate(-50%,-50%);
    z-index: 30;
}
.restartButton {
    position: absolute;
    width: 20vmin;
    top:85%;
    left: 35%;
    transform: translate(-50%,-50%);
    z-index: 30;
}

.deck {
    position: absolute;
    width: 0;
    left: 70%;
    top:23%;
}
.dealerCardDiv {
    position: absolute;
    width: 0;
    top:23%;
    left: 55%;   
    animation: dealerFlipCard 1s; 
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

.flip-container, .front, .back {
    width: 8vmin;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
    top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
.front img, .back img {
    width: 8vmin;
}
 /* The animation code */
@keyframes playerCard1 {
    from {left: 70%;
            top:35%;}
    to {top:65%;
        left: --left;}
}
@keyframes dealerCard1 {
    from {left: 70%;
            top:35%;}
    to {top:35%;
        left: --left;}
}
@keyframes dealerFlipCard {
    from {left: 70%;
            top:23%;}
    to {top:23%;
        left: --left;}
}