*, *::before, *::after{
    box-sizing: border-box;
    user-select: none;
}
/* Main body */
body {
    margin-top: 10vmin;
    display: flex;
    background-color: #9d79bc;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vmin;
    overflow: hidden;
}
.hide {
    display: none;
}

/* Poker table element */
.world {
    overflow: hidden;
    position: relative;
}
.table {
    width: 95vmin;
}

/* User values ie: chips, score, wager, etc */
.bet {
    position: absolute;
    right: 50%;
    top:50%;
    transform: translate(50%, -50%);
}
.numBoardContainer{
    position: absolute;
    top:0%;
    right:0%;
}
.numBoardContainer img {
    position: absolute;
    top:0%;
    right:0%;
    width: 20vmin;
}
.gameNum {
    position: absolute;
    right: 0%;
    width: 18vmin;
}
.gameNum div {
    top: 1vmin;
}
.gameNum div span {
   font-size: 3vmin;
}

/* Gameplay buttons  */
.start-button{
    position: absolute;
    font-size: 5vmin;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.buttons {
    position: absolute;
    top: 75vmin;      
}
.playButton {
	box-shadow: 0px 10px 14px -7px #1c1b18;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:50%;
	border:1px solid #ee1eb5;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:3vmin;
	font-weight:bold;
    width: 20vmin;
    height: 20vmin;
    padding: 0;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
.playButton:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
.playButton:active {
	position:relative;
	top:1px;
}
.stayButton {
	box-shadow: 0px 10px 14px -7px #1c1b18;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:50%;
	border:1px solid #84bbf3;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:3vmin;
	font-weight:bold;
	width: 20vmin;
    height: 20vmin;
    padding: 0;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    margin-right: 4vmin;
}
.stayButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.stayButton:active {
	position:relative;
	top:1px;
}
.hitButton {
	box-shadow: 0px 10px 14px -7px #1c1b18;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:50%;
	border:1px solid #d83526;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:3vmin;
	font-weight:bold;
	width: 20vmin;
    height: 20vmin;
    padding: 0;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    margin-left: 4vmin;
}
.hitButton:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.hitButton:active {
	position:relative;
	top:1px;
}
.restartButton {
	box-shadow: 0px 10px 14px -7px #1c1b18;
	background:linear-gradient(to bottom, #77b55a 5%, #4b8f29 100%);
	background-color:#77b55a;
	border-radius:50%;
	border:1px solid #72b352;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:3vmin;
	font-weight:bold;
	width: 20vmin;
    height: 20vmin;
    padding: 0;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
    margin-left: 4vmin;
}
.restartButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.restartButton:active {
	position:relative;
	top:1px;
}
.quitButton {
	box-shadow: 0px 10px 14px -7px #1c1b18;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:50%;
	border:1px solid #d6bcd6;
	cursor:pointer;
    color:#3a8a9e;
	font-family:Arial;
	font-size:3vmin;
	font-weight:bold;
	width: 20vmin;
    height: 20vmin;
    padding: 0;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-right: 4vmin;
}
.quitButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.quitButton:active {
	position:relative;
	top:1px;
}
.resetBetButton td {
    column-span: 5;
}
.resetBetButton button {
    box-shadow: 0px 10px 14px -7px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #cdc4aa 100%);
	background-color:#eae0c2;
	border-radius:15%;
	border:1px solid #ccc2a6;
    padding: 0;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:3vmin;
	font-weight:bold;
	width: 10vmin;
    height: 6vmin;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;  
}
.resetBetButton button:hover {
    background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color:#9ba892;   
}
.resetBetButton button:active {
	position:relative;
	top:1px;  
}
.chipPics img {
    cursor:pointer;
    filter: drop-shadow(5px 5px 5px #222);
    width:15vmin;
}
.chipPics img:hover {
	position:relative;
	top:1px;
}
.chipPics img:active {
	position:relative;
	top:2px;
}

/* Stuff to do with cards */
.playerCard {
    position: absolute;
    width: 8vmin;
    top:60%;
    left: calc(var(--left) * 1%);
    animation: movePlayerCard 1s;
    transform: translate(-50%,-50%);
}
.dealerCard {
    position: absolute;
    width: 8vmin;
    top:23%;
    left: calc(var(--left) * 1%);
    animation: moveDealerCard 1s;
    transform: translate(-50%,-50%); 
}
.deck img{
    position: absolute;
    width: 8vmin;
    left: 70%;
    top:23%;
}
.dealerFaceDown {
    position: absolute;
    width: 8vmin;
    top:23%;
    left: 55%;   
    animation: moveDealerCard 1s; 
}
 /* The animation code */
 @keyframes movePlayerCard {
    from {left: 75%;
            top:23%;}
    to {top:60%;
        left: --left;}
}
@keyframes moveDealerCard {
    from {left: 70%;
            top:23%;}
    to {top:23%;
        left: --left;}
}

/* Flip card animation stuff */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
.flip-container, .front, .back {
    width: 8vmin;
}
/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
    top: 0;
	left: 0;
}
/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
.flip-container.flip .flipper {
	transform: rotateY(180deg);
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
.front img, .back img {
    width: 8vmin;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 3vmin;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #9d79bc;
    color: white;
}
.modal-body {
      padding: 2px 16px;
}
.modal-footer {
    padding: 2px 16px;
    background-color: #9d79bc;
    color: white;
}

/* Dropdown Button */
.statsContainer {
    position: absolute; 
    left: 0%;   
}
.dropbtn {
	box-shadow: 0px 10px 14px -7px #1c1b18;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:10px;
	border:.2vmin solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:1vmin 5vmin;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.dropbtn:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.dropbtn:active {
	position:relative;
	top:1px;
}
.btnRadius {
    border-radius:10px 10px 0px 0px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 30vmin;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content span {
    right: 0%;
    color: black;
    padding: .5vmin 1vmin;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}